[project]
	description = Game repo to work
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group github/intellect-mind/Everyone
	owner = group user/intellect-minds
[access "refs/for/refs/*"]
	read = group github/intellect-mind/Everyone
	read = group user/intellect-minds
	push = group github/intellect-mind/Everyone
	push = group user/intellect-minds
	label-Code-Review = -2..+2 group github/intellect-mind/Everyone
	label-Code-Review = -2..+2 group user/intellect-minds
	label-Verified = -1..+1 group github/intellect-mind/Everyone
	label-Verified = -1..+1 group user/intellect-minds
	rebase = group github/intellect-mind/Everyone
	rebase = group user/intellect-minds
	removeReviewer = group github/intellect-mind/Everyone
	removeReviewer = group user/intellect-minds
	submit = group github/intellect-mind/Everyone
	submit = group user/intellect-minds
[access "refs/heads/*"]
	read = group github/intellect-mind/Everyone
	read = group user/intellect-minds
	create = group github/intellect-mind/Everyone
	create = group user/intellect-minds
	push = group github/intellect-mind/Everyone
	push = +force group user/intellect-minds
	pushMerge = group github/intellect-mind/Everyone
	pushMerge = group user/intellect-minds
[access "refs/tags/*"]
	push = group github/intellect-mind/Everyone
	push = +force group user/intellect-minds
	pushTag = group github/intellect-mind/Everyone
	pushTag = group user/intellect-minds
	pushSignedTag = group github/intellect-mind/Everyone
	pushSignedTag = group user/intellect-minds
