[project]
	description = Game repo to work
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/intellect-minds
[access "refs/for/refs/*"]
	read = group user/intellect-minds
	push = group user/intellect-minds
	label-Code-Review = -2..+2 group user/intellect-minds
	label-Verified = -1..+1 group user/intellect-minds
	rebase = group user/intellect-minds
	removeReviewer = group user/intellect-minds
	submit = group user/intellect-minds
[access "refs/heads/*"]
	read = group user/intellect-minds
	create = group user/intellect-minds
	push = +force group user/intellect-minds
	pushMerge = group user/intellect-minds
[access "refs/tags/*"]
	push = +force group user/intellect-minds
	pushTag = group user/intellect-minds
	pushSignedTag = group user/intellect-minds
